/* Set a background image by replacing the URL below */
body {
  background: url(../images/panPic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}

#nav-style {
  font-family: 'Special Elite', cursive;
}
.main-style {
  font-family: 'Special Elite', cursive;
  font-size: 56pt;
}

.font-style {
  font-family: 'Vollkorn SC', serif;
}

#summary {
  font-size: 14pt;
  color: white;
  font-family: 'Vollkorn SC', serif;

}

#input{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#zip{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }

  .map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  #searchButt {
    width: 200px;
  }

  .demo {
    color: black;
  }

    
