/* Set a background image by replacing the URL below */
body {
  background: url(https://format-com-cld-res.cloudinary.com/image/private/s--1aleo1cN--/c_limit,g_center,h_65535,w_700/a_auto,fl_keep_iptc.progressive,q_95/v1/05c5ec96f6bfbead5e59d9ebb433122c/Madelene-Farin-Photo-Surfaces-21.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}

#nav-style {
  font-family: 'Special Elite', cursive;
}
.main-style {
  font-family: 'Special Elite', cursive;
  font-size: 56pt;
}

.font-style {
  font-family: 'Vollkorn SC', serif;
}

#subHeadline {
  font-size: 15pt;
}

#summary {
  font-size: 14pt;
  font-stretch: ultra-expanded;
  color: white;
  font-family: 'Vollkorn SC', serif;

}

.buttonFont {
  font-family: 'Special Elite', cursive;
  font-size: 14pt;
}

.moreInfoFont {
  font-family: 'Special Elite', cursive;
  font-size: 14pt;
}

#foodFilter {
  background-color: transparent;
}

#boldTable {
  font-size: 20pt;
}

#input{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#zip{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#mapid { 
  height: 600px;
  width: 1000px;
  margin-left: 200px; 
  margin-top: 20px;
}




.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }

  .map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  #searchButt {
    width: 200px;
  }

  #mainHead {
    font-size: 16pt;
  }


  .demo {
    color: black;
  }

  .footer {
    font-family: 'Special Elite', cursive;
  }
    
