/* Set a background image by replacing the URL below */
body {
  background: url("images/updatedblack_and_white_food_pic_copy.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}


#summary {
  font-size: 14pt;
  color: white;

}




.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }

  .map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  #searchButt {
    width: 200px;
  }

  .demo {
    color: black;
  }

    
